<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091143405752-3dgk46pkk58def8qgnqtdaqgoi67nin7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091143405752-3dgk46pkk58def8qgnqtdaqgoi67nin7</string>
	<key>API_KEY</key>
	<string>AIzaSyAxxkjw6UzeeyWSU9uE_7ONFsX1O1TL1Kc</string>
	<key>GCM_SENDER_ID</key>
	<string>1091143405752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>upin.development</string>
	<key>PROJECT_ID</key>
	<string>upin-243f2</string>
	<key>STORAGE_BUCKET</key>
	<string>upin-243f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091143405752:ios:39ee0ada6813838a</string>
	<key>DATABASE_URL</key>
	<string>https://upin-243f2.firebaseio.com</string>
</dict>
</plist>